<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Tmp.mapper.SingerMapper">

    <select id="findSingerBySingerName" resultType="singer">
        SELECT * FROM singer
        WHERE singer_name = #{username};
    </select>

    <select id="getSingerName" resultType="String">
        SELECT singer_name FROM singer
        WHERE id = #{id};
    </select>

    <select id="getSong">
        SELECT * FROM song
        WHERE singer_id = #{singerId}
        ORDER BY star DESC;
    </select>

    <insert id="insertSinger">
        INSERT INTO singer(singer_name, password)
        VALUES (#{username}, #{password});
    </insert>

    <insert id="insertSong">
        INSERT INTO song(singer_id, title, star, singer_name)
        VALUES (#{singerId}, #{songname}, 0, #{singerName});
    </insert>

</mapper>