<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Tmp.mapper.UserMapper">

    <select id="findUserByUsername" resultType="user">
        SELECT * FROM user
        WHERE username = #{username};
    </select>

    <insert id="insertUser">
        INSERT INTO user(username, password)
        VALUES (#{username}, #{password});
    </insert>

    <select id="getUsername">
        SELECT username FROM user
        WHERE id = #{user_id};
    </select>

    <select id="findPlayListByUserId" resultType="playlist">
        SELECT * FROM playlist
        WHERE user_id = #{user_id};
    </select>

    <insert id="createPlayList">
        INSERT INTO playlist(user_id, play_list_name, description)
        VALUES (#{user_id}, #{name}, #{description});
    </insert>

    <delete id="deletePlayList">
        DELETE FROM playlist
        WHERE id = #{play_list_id};
    </delete>
</mapper>