<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Tmp.mapper.UserMapper">

    <select id="findUserByUsername" resultType="user">
        SELECT * FROM user
        WHERE username = #{username};
    </select>

    <select id="findSongById" resultType="song">
        SELECT * FROM song
        WHERE id = #{id};
    </select>

    <select id="findPlaylistById" resultType="playlist">
        SELECT * FROM playlist
        WHERE id = #{id};
    </select>

    <insert id="insertUser">
        INSERT INTO user(username, password)
        VALUES (#{username}, #{password});
    </insert>

    <select id="getUsername">
        SELECT username FROM user
        WHERE id = #{user_id};
    </select>

    <select id="findPlayListByUserId" resultType="playlist">
        SELECT * FROM playlist
        WHERE user_id = #{user_id};
    </select>

    <insert id="createPlayList">
        INSERT INTO playlist(user_id, play_list_name, description)
        VALUES (#{user_id}, #{name}, #{description});
    </insert>

    <delete id="deletePlayList">
        DELETE FROM playlist
        WHERE id = #{play_list_id};
    </delete>

    <select id="getAllSongs" resultType="Song">
        SELECT * FROM song;
    </select>

    <insert id="add_song_to_playlist">
        INSERT INTO playlist_song_link (playlist_id, song_id)
        VALUES (#{playlist_id}, #{song_id});
    </insert>

    <delete id="remove_song_from_playlist">
        DELETE FROM playlist_song_link
        WHERE song_id = #{song_id};
    </delete>

    <select id="getSongsIdFromPlaylist" resultType="String">
        SELECT song_id FROM playlist_song_link
        WHERE playlist_id = #{playlist_id};
    </select>

    <update id="incSongStar">
        UPDATE song
        SET star = star + 1
        WHERE id = #{song_id};
    </update>

    <update id="decSongStar">
        UPDATE song
        SET star = star - 1
        WHERE id = #{song_id};
    </update>
</mapper>