spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
    url: jdbc:mysql://localhost:3306/music_info_sys #其中的 IS_DB 是数据库名称
    username: root
    password: 'Dwg20021105'
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:/mappers/*.xml #指定XML文件的位置
  type-aliases-package: Tmp.pojo
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: full
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl

server:
  port: 8081