/* 全局样式 */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #1e1e1e 0%, #282828 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease-in;
}

body.fade-in {
    opacity: 1;
}

/* 容器样式 */
.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #f0f0f0;
}

/* 表单组样式 */
.form-group {
    margin-bottom: 20px;
}


/* 输入框样式 */
input[type="text"], input[type="password"] {
    width: 90%;
    padding: 12px;
    margin: 5px 0;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

/* 复选框样式 */
.form-group input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.form-group label[for="isSinger"] {
    display: inline;
    font-size: 14px;
    color: #f0f0f0;
}

/* 按钮样式 */
button {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background-color: #ff4e50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff1c1f;
    transform: scale(1.05);
}